@font-face {
  font-family: "iconfont"; /* Project id 3905540 */
  src: url('iconfont.woff2?t=1676877070579') format('woff2'),
       url('iconfont.woff?t=1676877070579') format('woff'),
       url('iconfont.ttf?t=1676877070579') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-waimai:before {
  content: "\e6a5";
}

.icon-dingdan:before {
  content: "\e737";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-sousuo:before {
  content: "\e632";
}

